# ignore app cache folder
.cache/

venv/
env/
.venv/


*.gguf
*.bin
*.pt
*.safetensors
*.onnx
models/

*.npz
*.index

*.wav
*.mp3
audios/


__pycache__/
*.pyc
.pytest_cache/
.DS_Store

wandb/
gaudi-mobilenetv2-finetuned/